<nav class="navbar navbar-light bg-primary">
  <%= link_to 'TestGuru', admin_tests_path, class: "navbar-brand" %>
  <ul class="nav mr-auto">
    <li class="nav-item">
      <%= link_to "Exit admin panel", tests_path, class: "btn btn-link text-light"%>
    </li>
  </ul>
  <span class='navbar-text text-light'>
    Welcome, <b><%= current_user.email%></b> Guru |
    <%= link_to 'Logout', destroy_user_session_path , method: :delete, class: "btb btn-link text-light" %>
  </span>
</nav>
