<div class="row mt-4">
  <div class="col-lg-6 col-md-6 col-sm-6 text-center">
    <h3>All badges</h3>
    <%= render @badges %>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 text-center">
    <h3>User badges</h3>
    <%= render @user_badges %>
  </div>
</div>
