<div class="row">
  <table class="table table-striped table-hover">
    <th><%= t('.gist_url') %></th>
    <th><%= t('.gist_question') %></th>
    <th><%= t('.gist_user_email') %></th>
    <%= render @gists %>
  </table>
</div>
