<h1>
  <%= result_test_title(@percentage,@test_passage.test.title) %> with
  <span class=<%= test_win?(@percentage)? "winner" : "looser" %>>
    <%= "#{@percentage.round(2)}%" %>
  </span>
</h1>
<%= link_to 'Back to tests', tests_path %>
