<div class="navbar bg-light fixed-bottom">
  <p>Учебный проект в онлайн-школе <a href="http://thinknetica.com" target="_blank">Thinknetica</a>
  <p>Author github: <%= github_url('Gartenz')%></p>
  <p>Project github: <%= github_url('Gartenz','tn-test-guru')%></p>
  <p> <%= current_year %> </p>
</div>
